/* src/style/UserItems.css */

.user-items-container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.items-list {
    list-style-type: none;
    padding: 0;
}

.items-list li {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 5px;
    background-color: fuchsia;
}

.add-item-form {
    margin-top: 20px;
}

.add-item-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.add-item-form button, .continue-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.add-item-form button:hover, .continue-button:hover {
    background-color: #0056b3;
}
