/* src/style/Game.css */
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .scene-mask {
    width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .napoli{
    color: white;
  }
  .scene-mask h2 {
    margin-top: 0;
  }
  
  .scene-mask p {
    font-size: 1.2em;
  }
  