.create-story-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .create-story-container h1 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
  }
  .titoloStoria{
    color: pink;
  }
  .input-section {
    margin-bottom: 20px;
  }
  
  .input-section label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .input-section textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Permette di ridimensionare verticalmente la textarea */
  }
  
  .proceed-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .proceed-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .create-story-container {
      padding: 10px;
    }
  
    .input-section textarea {
      font-size: 0.9em;
    }
  
    .proceed-button {
      font-size: 1em;
    }
  }
  