.scene-list-container {
  padding-top: 0px;
}

.header {
  display: flex;
  align-items: center; /* Allinea verticalmente al centro */
  justify-content: space-between; /* Allinea il logout button a destra e il titolo a sinistra */
  background-color: lightgray; /* Aggiunge sfondo bianco alla header */
  padding: 10px; /* Aggiunge padding alla header */
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 30px;
}

.header > h1 {
  color: fuchsia;
  text-align: center; /* Centra il titolo */
  margin: 0; /* Rimuove il margine predefinito del titolo */
  font-size: 24px; /* Dimensione del font del titolo */
  margin-left: 530px;
}

.create-scene-button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 80px; /* Aumenta il padding per rendere il pulsante più grande */
  cursor: pointer;
  margin-top: 20px; /* Spazio sopra il pulsante "Crea Scena" */
  display: block; /* Imposta il pulsante su una nuova riga */
  margin-left: auto; /* Allinea a destra */
  margin-right: auto; /* Allinea a sinistra */
  font-weight: bold;
  font-size: 20px;
}

.scene-item {
  border: 1px solid #ccc;
  background-color: azure;
  padding: 10px;
  margin: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.scene-item h2 {
  margin: 0;
}

.scene-item p {
  margin: 10px 0;
}

.scene-item textarea {
  width: 100%;
  height: 100px;
}

.scene-item button {
  margin-right: 10px;
}
